.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ececec; 
}

.font {font-family: "Monaco", "Georgia", "Garamond";}


.center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.filter-bar {
  margin-bottom: 7px;

}

.table-header {
  border-radius: 12px;
  background-color: #9fd3c7;
  color: #142d4c;
  font-size: 28px;
}

.table-row {
  background-color: #9fd3c7;
  color: #385170;
  font-weight: 700;
  font-size: 24px;
  text-align: center
}

.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c;
}

.hover-row tr:hover {background-color: #ececec;}

table.strike-able {
  border-collapse: collapse;
}

table.strike-able tr td {
  position: relative;
  padding: 3px 2px;
}

table.strike-able tr th {
  position: relative;
  padding: 3px 2px;
}

table.strike-able tr.strikeout td.strike-able:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid #142d4c;
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-50-left {
  width: 50%;
  height: 50px;
  float: left;
  padding: 5px 2px;
}

.width-50-right {
  margin-left: 50%;
  height: 50px;
  padding: 5px 4px;
}

/* .add-item {
  text-align: center;
  border-radius: 8px;
  padding: 6px 20px;
  border: 2.5px solid #9fd3c7;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
} */

.hidden { 
  display:none;
}

.add-item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.add-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 0px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.add-item:hover,
.add-item:valid{
  width: 200%;
  cursor: pointer;
  left: 0%;
}

.add-item:hover input,
.add-item:valid input{
  display: block;
}

.add-item:hover .fa,
.add-item:valid .fa{
  background: #07051a;
  color: white;
}

i {
  font-style: bold;
}

a {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

.add-item:valid a {
display: block;
}