*, *::before, *::after {
  box-sizIng: border-box;
}

.filter-bar {
  margin: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-table {
  border-radius:12 px;
  margin: 0px auto;
  width: 100%;
  background-color: #FF8551;
  color: inherit;
  font-size: 20px;
  font-weight: 400;
  border: solid 5px;
  border-color: #FF8551;
  border-radius: 10px;
}

.hover-row tr:hover {
  background-color: #FAF0E4;
  border-radius: 10px;
}

table.strike-able tr td {
  position: relative;
  padding: 3px 2px;
}

table.strike-able tr th {
  position: relative;
  padding: 3px 2px;
}

table.strike-able tr.strikeout td.strike-able:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid #FFDEDE;
  width: 100%;
}