body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0 0;
  margin: 0px 0px;
  background-color: #FAF0E4;
  width: 100%;
  font-family: "Georgia", "Monaco", "Garamond";
  font-size: 1.2rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  max-width: 600px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button {
  background-color: #9BCDD2;
  border-color: #9BCDD2;
  border-radius: 8px;
  color: inherit;
  padding: 3px 9px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  text-decoration: none;
  margin-right: 0px;
}

.logo-name {
  margin-left: 1rem;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF8551;
  padding: 5px 5px;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  border-radius: 0 0 15px 15px;
}

.main-footer {
  margin-top: 7px; 
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
  border-radius: 15px 15px 0px 0px;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  padding: 1rem;
}